{{#each favPets}}
<div class="results">
  <h1 class="name">{{this.name}}</h1>
  <div class="size-gender">
    <p class="li-size-gender">{{this.size}}</p>
    <p class="li-size-gender">{{this.gender}}</p>
  </div>
</div>
<div class="fav-photo"> <img src="{{this.photos.medium}}" alt=""></div>

{{/each}}