<form id="form" action="/login" method="POST" id="form">
  <h2 class="h2">Login</h2>


  <input class="input-login" x placeholder="Your username" type="text" id="username" name="username" required>

  <input class="input-login" placeholder="********" type="password" name="password" id="password" required
    minlength="5">

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button class="btn-login-create">Sign in</button>

  <p class="account-message">Don't have an account? <a href="/signup">Sign up.</a>
  </p>
</form>