{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

<form id="form" action="/signup" method="POST">
  <h2 class="h2">Signup</h2>


  <input type="text" name="username" class="input-login" placeholder="Your username" required>


  <input class="input-login" type="password" name="password" id="password" placeholder="********" required
    minlength="5">

  <button class="btn-login-create" type="submit">Create account</button>
  <p class="account-message">sfsfg <a href="/signup">Sign up.</a>
  </p>
</form>