<nav class="nav-bar">
  <div>
    <img class="logo" src="./images/logo.svg" alt="logo teboo">
  </div>
  <ul class="li-items">
    {{#if user}}
    <div class="logout">
      <a href="/logout">Logout</a>
    </div>

    {{else}}
    <li class="signup-login"><a href="/signup">Signup</a></li>
    <li class="signup-login"><a href="/login">Login</a></li>
  </ul>
  {{/if}}
</nav>