<div id="search">
  <h1>Find the right pet for you</h1>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button id="collapseBtn" class="btn btn-basic btn-link collapsed" data-toggle="collapse"
            data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseOne">
            Collapse filters
          </button>
        </h5>
      </div>

      <div id="collapseFilter" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">

          <form action="/search/db" method="POST" id="searchForm">
            <div class="formContainer">
              <div class="container">
                <div class="row">
                  <div class="col-3">
                    {{> openfg title="Species"}}
                    {{> checkbox name="species" id="Dog" label="Dog"}}
                    {{> checkbox name="species" id="Cat" label="Cat"}}
                    {{> closefg}}

                    {{> openfg title="Sex"}}
                    {{> checkbox name="gender" id="Female" label="Female"}}
                    {{> checkbox name="gender" id="Male" label="Male"}}
                    {{> closefg}}

                    {{> openfg title="Age"}}
                    {{> checkbox name="age" id="Baby" label="Baby"}}
                    {{> checkbox name="age" id="Young" label="Young"}}
                    {{> checkbox name="age" id="Adult" label="Adult"}}
                    {{> checkbox name="age" id="Senior" label="Senior"}}
                    {{> closefg}}
                  </div>
                  <div class="col-3">
                    {{> openfg title="Size"}}
                    {{> checkbox name="size" id="Small" label="Small"}}
                    {{> checkbox name="size" id="Medium" label="Medium"}}
                    {{> checkbox name="size" id="Large" label="Large"}}
                    {{> checkbox name="size" id="Extra Large" label="Extra Large"}}
                    {{> closefg}}

                    {{> openfg title="Coat"}}
                    {{> checkbox name="coat" id="Short" label="Short"}}
                    {{> checkbox name="coat" id="Long" label="Long"}}
                    {{> checkbox name="coat" id="Medium" label="Medium"}}
                    {{> closefg}}
                  </div>
                  <div class="col-6">

                    {{> openfg title="Attributes"}}
                    {{> checkbox name="attributes" id="attributes.spayed_neutered" label="Spayed or neutrered"}}
                    {{> checkbox name="attributes" id="attributes.house_trained" label="House-trained"}}
                    {{> checkbox name="attributes" id="attributes.special_needs" label="Special needs"}}
                    {{> checkbox name="attributes" id="attributes.shots_current" label="Shots current"}}
                    {{> closefg}}


                    {{> openfg title="Environment"}}
                    {{> checkbox name="environment" id="environment.children" label="Good with children"}}
                    {{> checkbox name="environment" id="environment.dogs" label="Good with dogs"}}
                    {{> checkbox name="environment" id="environment.cats" label="Good with cats"}}
                    {{> closefg}}


                    {{> openfg title="Country"}}
                    {{> checkbox name= "contact.address.country" id="US" label="US"}}
                    {{> checkbox name= "contact.address.country" id="CA" label="CA"}}
                    {{> closefg}}

                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    {{> openfg title ="Only pets with pictures"}}
                    {{> checkbox name="photos" id="photos"}}
                    {{> closefg}}
                  </div>
                </div>
              </div>
              <input type="submit" class="btn-basic searchBtn" value="Search">

            </div>


          </form>




        </div>
      </div>
    </div>
  </div>




  <div id="numberOfResults"></div>
  <div id="result">
  </div>
  <div id="resultBtns"></div>
</div>